.learnmore, .apply{
    text-align: center;
}

.card-header{
    width: 100%;
}

.date-created{
    position: absolute;
    right: 2%;
}

.contract-type{
    font-weight: bold;
    position: absolute;
    right: 2%;
    
}

#ad{
    margin-bottom: 2%;
}

.wages,.date-created,.localisation{
    font-weight:bold;
}

.published_date{
    font-style: italic;
}
